/* @import "../site-structure/style.css"; */


.content {
  justify-content: center;
}

.content a{
  display: flex;
  font-size: 90px;
  margin-left: 2rem;
  text-align: left;
  align-items: center;
  color: var(--white)
}

.sections {
  align-content: center;
  background-color: var(--light-background-color);
  background-image: url("../images/hydra_blue.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: var(--box-shadow);
  align-items: center;
}

.teams {
  align-content: center;
  background-color: var(--light-background-color);
  background-image: url("../images/hydra_pc.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: var(--box-shadow);
  align-items: center;
}

.announcements {
  align-content: center;
  background-color: var(--light-background-color);
  background-image: url("../images/news.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: var(--box-shadow);
  align-items: center;
}

.gallery {
  align-content: center;
  background-color: var(--light-background-color);
  background-image: url("../images/hydra_gallery.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: var(--box-shadow);
  align-items: center;
}

.contact {
  align-content: center;
  background-color: var(--light-background-color);
  background-image: url("../images/hydra_contact.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: var(--box-shadow);
  align-items: center;
}