@import "../site-structure/style.css";
@import "../variables/variables.css";

.content {
    display:grid;
    background-color: var(--light-background-color);
    background-image: url("../images/hydra_blue_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 1080px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2rem;
  }

  .content a{
    margin-top: 1rem;
    display: flex;
    font-size: 30px;
    color: var(--white)
  }
  
.content a:hover {
    color:var(--hover-color)
}

.content h1 {
    color:var(--white);
    font-size: 200px;
}

.email,
.password {
    display: grid;
    grid-template-columns: 40rem;
    gap: 1rem;
}

.email label,
.password label {
    display: grid;
    justify-content: center;
    color:var(--white);
    padding: 1rem;
    font-size: 25px;
}

.email input,
.password input {
    text-transform: none;
    border-radius: 10px;
    width: 100%;
    padding: 1rem; 
}

.login-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
    
.login-button button {
    display: grid;
    justify-content: center;
    margin-top: 1rem;
    padding: 1.5rem 3rem; 
    color: var(--background-color);
    background-color: var(--white); 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
}

.login-button button:hover {
    color: var(--background-color);
    background-color: var(--hover-color); 
}