
@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.content a {
  display: flex;
  font-size: 90px;
  margin-left: 2rem;
  text-align: left;
  align-items: center;
  color: var(--white);
  animation: slideInFromLeft 1s;
}


.sections, .teams, .announcements, .gallery, .contact {
  align-content: center;
  background-color: var(--light-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: var(--box-shadow);
  align-items: center;
}

.sections {
  background-image: var(--hydra-img);
}

.teams {
  background-image: var(--teams-img);
}

.announcements {
  background-image: var(--news-img);
}

.gallery {
  background-image: var(--gallery-img);
}

.contact {
  background-image: var(--contact-img);
}
