:root {
    --main-color: #096a2e;
    --background-color: #09326a;
    --light-background-color: #438bef;
    --hover-color: #808080;
    --box-shadow: #0000001a;
    --white: #f5f5f5;
    --red: rgba(255, 0, 0, 0.8);
    --light-red: rgba(255, 0, 0, 0.3);
    --logo-img: url("../../images/logo.png");
    --background-img: url("../../images/background.jpg");
    --animated-background-img: url("../../images/animated_background.svg");
    --contact-img: url("../../images/contact.jpeg");
    --gallery-img: url("../../images/gallery.jpeg");
    --teams-img: url("../../images/teams.jpeg");
    --news-img: url("../../images/news.jpg");
    --hydra-img: url("../../images/hydra.jpeg");
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}