@import "../variables/variables.css";


.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);
    align-items: center;
}

.header .logo{
    width: 100px;
    height: auto;
}

.header .navbar {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--white);

}

.header .navbar a{
    font-size: 2rem;;
    margin-left: 2rem;
    color: var(--white);

}

.header .navbar a:hover{
    color: var(--hover-color)
}

.header .login-button, .header .logout-button{
    margin-left: 2rem;    
}

.header .login-button a, .header .logout-button a {
    padding: 0.5rem 1rem; 
    color: var(--background-color);
    background-color: var(--white); 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
}

.header .login-button a:hover, .header .logout-button a:hover {
    color: var(--background-color);
    background-color: var(--hover-color); 
}

.footer{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: center;
}

.fa {  
    padding: 20px;  
    text-align: center;  
    margin: 10px 5px;  
    font-size: 50px;  
    width: 50px;  
    border-radius: 10px;
  }  
.fa-facebook {  
  background: var(--white);   
  color: var(--background-color);  
}  

.fa-twitter {  
  background: var(--white);  
  color: var(--background-color); 
}  

.fa-instagram {  
  background: var(--white);  
  color: var(--background-color);
}  

.fa-youtube {  
  background: var(--white);  
  color: var(--background-color);
}  
 
.fa:hover {  
    color: var(--hover-color);  
}  

.footer .copyright {
  text-align: center;
  color: var(--white)
}
